# ClickUp
CLICKUP_TOKEN=your_clickup_personal_token_here
TEAM_ID=your_team_id_here

# Google Drive
DRIVE_FOLDER_ID=your_google_drive_folder_id_here
# DRIVE_SUPPORTS_ALL_DRIVES=true

# Outline
OUTLINE_TOKEN=your_outline_api_token
OUTLINE_API_URL=https://outline.example.com/api/
# OUTLINE_PARENT_ID=
# OUTLINE_IDS=doc_id_1,doc_id_2
